<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <form action="../goster/" method="POST">
        {% csrf_token %}
        <input type="text" name="kullanici_adi">
        <input type="submit" value="gonder">
        <br>
        {{adi}}
    </form>
</body>
</html>